{% extends "base.html" %}
{% block content %}
<ul class="thumbnails">
    {% for item in items %}
    {% if item.image %}
    <li class="span4">
    <a class="thumbnail" href="{{ url_for('item', item_id=item.id) }}">
        <img src="{{ item.image_url() }}" />
    </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
$(function(){
    var $container = $('.thumbnails');
    $container.imagesLoaded( function(){
        $container.masonry({
            itemSelector : '.span4'
        });
    });
});
</script>
{% endblock %}
