{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if item.finder != cur_user %}

        <div class="span4">

            {% if item not in cur_user.claims %}
                <form method="post" action="{{ url_for('claim_item', item_id=item.id) }}">
                    <button class="btn btn-large btn-inverse btn-block" action="submit">Claim</button>
                </form>
            {% else %}
                <form method="post" action="{{ url_for('unclaim_item', item_id=item.id) }}">
                    <button class="btn btn-large btn-inverse btn-block" action="submit">Unclaim</button>
                </form>
            {% endif %}

        </div>

    {% else %}

        <div class="span4">
            Claimers:
            <ul>
                {% for u in item.claimers %}
                    <li>{{u.name}}</li>
                {% endfor %}
            </ul>
        </div>

    {% endif %}

    <div class="span8">
        <a class="thumbnail" href="{{ item.image_url() }}">
            <img src="{{ item.image_url() }}">
        </a>
    </div>
</div>
<div class="row">
    
</div>
{% endblock %}

